aiohttp==3.6.2
async-timeout==3.0.1
asyncpg==0.21.0
autopep8==1.5.4
decorator==4.4.2
discord.py==1.4.1
distlib==0.3.1
emoji==0.6.0
MarkupSafe==1.1.1
multidict==4.7.6
mysql-connector==2.2.9
public==2020.7.1
pycodestyle==2.6.0
regex==2020.7.14
self==2020.7.1
six==1.15.0
